<div id="cart-pane" class="cart-pane" style="z-index: 1000;">
    <h5>Subtotal</h5>
    <% if (!user) { %>
        <p>Please <a href="/login">log in</a> to view your cart.</p>
    <% } else if (cart && cart.books && cart.books.length > 0) { %>
        <form action="/orders" method="get">
            <p class="price">$<%= total_price %></p>
            <button class="buy-btn">Buy Books</button>
        </form>
        <% cart.books.forEach(function(book) { %>
            <div class="cart-item">
                <img src="<%=book.cover%>" alt="<%= book.title %>">
                <form action="/carts/<%= book._id %>/deleteFromCart" method="post">
                    <p class="price">$<%= book.price %>
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg></span>
                        </button>
                    </p>

                </form>
            </div>
        <% }) %>
    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>
</div>