
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Books</title>

    <link rel="stylesheet" href="/stylesheets/boot.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <style>
        html,
        body,
        .intro {
            height: 100%;
        }

        .form-control {
            border-color: transparent;
        }

        .input-group>.form-control:focus {
            border-color: transparent;
            box-shadow: inset 0 0 0 1px transparent;
        }


        .form-control::placeholder {
            color: #fff;
        }

        .purple-gradient {
            color: #fff;
            background: linear-gradient(to right, #5379fa, black);
        }
        .btn.purple-gradient:hover {
            color: #fff;
        }

        .text-pink {
            color: #F0B6D5
        }
    </style>
</head>
<body>
<%- include('partials/navbar') %>
<%- include('partials/cartPane') %>
<!--add image here-->
        <div class="col-md-12">
            <img src="/images/b4.png" alt="cover"> <!--832.5*66-->
            <div class="centered">
                <h6 class="text-center"style="color: #FFFFFF;position: relative; bottom: 100px;font-size: 60px;font-weight: 400">Discover Books</h6>
            </div>
            <section class="intro">
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                                <div class="card mb-2"
                                     style="border-radius: 10em; background: linear-gradient(to right,white, white);">
                                    <div class="card-body p-2">
                                        <div class="input-group input-group-lg">
                                            <input type="text" class="form-control form-control-lg round bg-transparent text-black"
                                                   placeholder="Type Keywords" aria-label="Type Keywords" aria-describedby="basic-addon2" />
                                            <span class="input-group-text border-0" id="basic-addon2"><i class="fas fa-search fa-lg text-black"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>



<div class="container mt-5">
     <% if (success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <% if (error.length > 0) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
        <% } %>
     <% if (user && user.type === 'seller') {%>
    <a href="/books/create" class="btn btn-primary">Create New Book</a>
    <% } %>

         <div class="row">
             <% books.forEach(book => { %>
                 <div class="col-md-4 mb-4">
                     <a href="/books/<%= book._id %>" class="text-decoration-none">
                         <div class="card shadow-lg">
                             <!-- Book cover image as the background -->
                             <div class="card-img-top" style="background-image: url('<%= book.cover %>'); height: 100%; background-size: cover; background-position: center;"></div>
                             <!-- Details overlay -->
                             <div class="card-img-overlay">
                                 <!-- Book details -->
                                 <div class="card-body text-dark">
                                     <h5 class="card-title"><%= book.title %></h5>
                                     <p class="card-text">Authors: <%= book.authors.map(author => author.name).join(', ') %></p>
                                     <p class="card-text">Publisher: <%= book.publisher.name %></p>
                                     <p class="card-text">Categories: <%= book.categories.map(category => category.name).join(', ') %></p>
                                     <p class="card-text">ISBN: <%= book.isbn %></p>
                                     <p class="card-text">Description: <%= book.description %></p>
                                     <p class="card-text">Price: $<%= book.price.toFixed(2) %></p>
                                     <p class="card-text">Quantity: <%= book.quantity %></p>
                                     <% if (user) { %>
                                         <form action="/carts/<%= book._id %>/addToCart" method="post">
                                             <button type="submit" class="btn btn-primary add-to-cart">Add to Cart
                                             </button>
                                         </form>
                                     <% } %>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
             <% }) %>
         </div>
</div>
<script src="/javascripts/main.js"></script>
</body>
</html>
