
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Books</title>

    <link rel="stylesheet" href="/stylesheets/books.css" type="text/css">
    <%- include('partials/navbarLinks')%>
</head>
<body>
<%- include('partials/navbar') %>
<%- include('partials/cartPane') %>

<div class="content">
    <div class="animate__animated animate__fadeIn">
            <form action="/books/search" method="GET" class="bar">
                    <input type="text" name="title" placeholder="Search for books" aria-label="Search for books" aria-describedby="button-addon2">
                    <button type="submit"><img src="https://res.cloudinary.com/ein39/image/upload/v1703099893/bookstore/assets/uigpurvkphebpaxio1m2.png"></button>
            </form>
        <div class="centered">
            <div class="animate__animated animate__fadeInUp">Discover Books</div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <% if (success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    <div class="row">
        <% books.forEach(book => { %>
            <div class="col-md-3 mb-4">
                <a href="/books/<%= book._id %>" style="display: contents">
                    <div class="card"style="height: 350px;width: 254px;">
                        <div class="card-img-top" style="background-image: url('<%= book.cover %>'); height: 100%; background-size: cover; background-position: center;"></div>
                    </div>
                    <div class="mt-2">
                        <h5 style="font-weight: bold;color: black"><%= book.title %></h5>
                    </div>

                </a>
                <% if (user &&  user.type === 'buyer' && !(orders || []).some((order) =>
                (order.bought_books || []).some(
                    (bought_book) =>
                        bought_book._id.toString() === book._id.toString(),
                    ),
                )
                && !((cart || {}).books || []).some(
                    (cart_book) =>
                        cart_book._id.toString() === book._id.toString(),
                )) { %>
                    <form action="/carts/<%= book._id %>/addToCart" method="post">
                        $<%= book.price %>
                        <button type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                            </svg></button>
                    </form>
                <% } else { %>
                    $<%= book.price %>
                <% } %>
            </div>
        <% }) %>
    </div>
</div>

<script  src="javascripts/main.js"> </script>
</body>
</html>
