<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Checkout</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/boot.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
<%- include('partials/navbar') %>

<div class="container mt-5">
    <% if (success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>

    <% if (cart && cart.books && cart.books.length > 0) { %>
            <div class="checkout">
                <h1>My Cart</h1>
                <a href="/books" class="continue">Continue Shopping</a>
            </div>

        <% cart.books.forEach(function(book) { %>
            <div class="checkout-item">
                <div class="checkout-item-info">
                    <div class="cartSection">
                        <img src="<%= book.cover %>" alt="<%= book.title %>">
                        <p class="itemIsbn"><%= book.isbn %></p>
                        <h3><%= book.title %></h3>
                        <p class="stockStatus">In Stock</p>
                        <div class="prodTotal cartSection">
                            <p>$<%= book.price %></p>
                        </div>
                        <form action="/carts/<%= book._id %>/deleteFromCart" method="post">
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true"><i class="bi bi-trash-fill"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
            <div class="subtotal">
                <div class="totalRow final"><span class="label">Wallet Amount</span><span>$<%= wallet_amount %></span></div>
                <div class="totalRow final"><span class="label">Total:</span><span>$<%= total_price %></span></div>
                <form action="/orders/create" method="post">
                    <button type="submit" class="checkout-button">Checkout</button>
                </form>
            </div>
    <% } else { %>
        <div class="empty-cart">
            <h2>Your cart is empty</h2>
        </div>
    <% } %>
</div>

<script src="/javascripts/main.js"></script>
</body>
</html>