<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Checkout</title>


    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
<%- include('partials/navbar') %>

<div class="container mt-5">
    <% if (success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>

    <% if (cart && cart.books && cart.books.length > 0) { %>
            <div class="checkout">
                <h1>My Cart</h1>
                <a href="/books" class="continue">Continue Shopping</a>
            </div>

        <% cart.books.forEach(function(book) { %>
            <div class="checkout-item">
                <div class="checkout-item-info">
                    <div class="cartSection">
                        <img src="<%= book.cover %>" alt="<%= book.title %>">
                        <p class="itemIsbn"><%= book.isbn %></p>
                        <h3><%= book.title %></h3>
                        <p class="stockStatus">In Stock</p>
                        <div class="prodTotal cartSection">
                            <p>$<%= book.price %></p>
                        </div>
                        <form action="/carts/<%= book._id %>/deleteFromCart" method="post">
                            <button type="submit" class="close" aria-label="Close" style="background: transparent">
                                <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
            <div class="subtotal">
                <div class="totalRow final"><span class="label">Total:</span><span>$<%= total_price %></span></div>
                <form action="/orders/create" method="post" id="checkoutForm">
                    <button type="submit" class="checkout-button">Checkout</button>
                </form>
            </div>
    <% } else { %>
        <div class="empty-cart">
            <h2>Your cart is empty</h2>
        </div>
    <% } %>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("checkoutForm");

    async function createOrder() {
        try {
            const response = await fetch("/orders/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
            });

            if (!response.ok) {
                const errorData = await response.json();
                throw errorData;
            }

            const data = await response.json();
            window.location = data.url;
        } catch (error) {
            console.log(error.message);
        }
    }

    form.addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission
        createOrder();
    });
});
</script>
<script src="/javascripts/main.js"></script>
</body>
</html>