<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/index.css" type="text/css" />
<%- include('partials/navbarLinks')%>
        <title>BookEra</title>
    </head>

    <body>
        <%- include('partials/navbar') %> <%- include('partials/cartPane') %>
        <% if (success.length > 0) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
        <% if (error.length > 0) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        <div class="banner">
            <div class="content">
                <h1 class="animate__animated animate__fadeInLeft">Welcome to Book<span>Era</span></h1>
                <p class="animate__animated animate__fadeInLeft">Your ultimate destination for connecting book enthusiasts and sellers seamlessly</p>
                <button onclick="window.location.href='/books'" type="submit" class="animate__animated animate__fadeInUp"><span></span>Browse Books</button>
            </div>
        </div>
        <script src="/javascripts/main.js"></script>
    </body>
</html>
