<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Books</title>

    <link rel="stylesheet" href="/stylesheets/boot.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/books.css" type="text/css">

</head>
<body>
<%- include('partials/navbar') %>
<%- include('partials/cartPane') %>

<% if (success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>
<% if (error.length > 0) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>
<div class="content">
    <div class="centered">
        <div class="animate__animated animate__fadeInUp">My Books</div>
    </div>
</div>
<div class="container mt-5">
    <% if (books.length > 0) { %>
        <div class="row">
            <% books.forEach(book => { %>
                <div class="col-md-3 mb-4">
                    <a href="/books/<%= book._id %>" style="display: contents">
                        <div class="card"style="height: 350px;width: 254px;">
                            <div class="card-img-top" style="background-image: url('<%= book.cover %>'); height: 100%; background-size: cover; background-position: center;"></div>
                        </div>
                        <div class="mt-2">
                            <h5 style="font-weight: bold;"><%= book.title %></h5>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <div class="empty-cart">
            <h2>You haven't <% if (user.type === 'buyer') { %>bought<% } else { %>listed<% } %> any books yet.</h2>
        </div>
    <% } %>
</div>
<script src="/javascripts/main.js"></script>
</body>
</html>