<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">


    <title>User profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
<%- include('partials/navbar') %>
<%- include('partials/cartPane') %>
<% if (success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>
<% if (error.length > 0) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>
<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <h5><%= user.username %></h5>
                        </div>
                        <div class="about">
                            <h5>Welcome to <strong>BookEra</strong></h5>
                            <% if(user.type === 'seller'){ %>
                                <p>Your presence as a distinguished <strong>seller</strong> within <strong>BookEra</strong> is truly an honor, and we are grateful to welcome you into our esteemed literary community.</p>
                            <% } else { %>
                            <p>Your status as an exceptional <strong>Customer</strong> brings us great joy,
                                and we sincerely appreciate your decision to join <strong>BookEra</strong>.
                                We extend our warmest welcome and wish you a pleasant shopping experience.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 style="color: #5379fa">Personal Details</h6>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <p class="form-control"><%= user.first_name %> <%= user.last_name %></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>User Name</label>
                            <p class="form-control"><%= user.username %></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Wallet Amount</label>
                            <p class="form-control">$<%= user.wallet_amount %></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-start mb-2">
                    <a href="/users/<%= user._id %>/update" class="btn btn-primary mr-2">Edit Profile</a>
                    <a href="/users/change-password" class="btn btn-secondary mr-2">Change Password</a>
                    <form action="/users/<%= user._id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile? This action cannot be undone.');">
                        <button type="submit" class="btn btn-danger">Delete Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/main.js"></script>
</body>
</html>